
// Title:      Micro clearfix hack
// Version:    3.2.0-beta.2
// Author:     Bourbon
// Source:     https://github.com/thoughtbot/bourbon

// @source: http://nicolasgallagher.com/micro-clearfix-hack/
// @browser-support: Firefox 3.5+, Safari 4+, Chrome, Opera 9+, IE 6+

// Micro clearfix provides an easy way to contain floats without adding additional markup

@mixin clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}
