
// Title:      Font stacks
// Version:    0.0.1
// Author:     Andy Smith
// Source:     http://github/com/andyra/proto

// @source: http://cssfontstack.com/

// Common font stacks
$georgia: Georgia, "Times New Roman", Times, serif;
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$lucida-grande: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
$monospace: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
$verdana: Verdana, Geneva, sans-serif;
