
// Title:      Title
// Version:    3.1.8
// Author:     Bourbon
// Source:     https://github.com/thoughtbot/bourbon
// Docs:       http://bourbon.io/docs/#position

// Shorthand notation for setting the position of elements in your page. The
// first parameter is optional, with a default value of relative. The second
// parameter is a space delimited list of values that follow the standard CSS
// shorthand notation.

// Example:
// @include position(relative, 0px 0 0 100px);

@mixin position ($position: relative, $coordinates: 0 0 0 0) {

  @if type-of($position) == list {
    $coordinates: $position;
    $position: relative;
  }

  $top: nth($coordinates, 1);
  $right: nth($coordinates, 2);
  $bottom: nth($coordinates, 3);
  $left: nth($coordinates, 4);

  position: $position;

  @if $top == auto {
    top: $top;
  }
  @else if not(unitless($top)) {
    top: $top;
  }

  @if $right == auto {
    right: $right;
  }
  @else if not(unitless($right)) {
    right: $right;
  }

  @if $bottom == auto {
    bottom: $bottom;
  }
  @else if not(unitless($bottom)) {
    bottom: $bottom;
  }

  @if $left == auto {
    left: $left;
  }
  @else if not(unitless($left)) {
    left: $left;
  }
}
