
// Title:      Title
// Version:    3.2.0-beta.2
// Author:     Bourbon
// Source:     https://github.com/thoughtbot/bourbon
// Docs:       http://bourbon.io/docs/#position

// Shorthand notation for setting the position of elements in your page. The
// first parameter is optional, with a default value of relative. The second
// parameter is a space delimited list of values that follow the standard CSS
// shorthand notation.

// Example:
// @include position(relative, 0px 0 0 100px);

@mixin position ($position: relative, $coordinates: 0 0 0 0) {

  @if type-of($position) == list {
    $coordinates: $position;
    $position: relative;
  }

  $coordinates: unpack($coordinates);

  $top: nth($coordinates, 1);
  $right: nth($coordinates, 2);
  $bottom: nth($coordinates, 3);
  $left: nth($coordinates, 4);

  position: $position;

  @if ($top and $top == auto) or (type-of($top) == number and not unitless($top)) {
    top: $top;
  }

  @if ($right and $right == auto) or (type-of($right) == number and not unitless($right)) {
    right: $right;
  }

  @if ($bottom and $bottom == auto) or (type-of($bottom) == number and not unitless($bottom)) {
    bottom: $bottom;
  }

  @if ($left and $left == auto) or (type-of($left) == number and not unitless($left)) {
    left: $left;
  }
}
