// ============================================================================
// Code
// ============================================================================

// Variables
$code-font-family:          $mono;
$code-color:                #c7254e !default;
$code-bg:                   #f9f2f4 !default;

$kbd-color:                 white !default;
$kbd-bg:                    $gray !default;
$pre-bg:                    $gray-lighter !default;

$pre-color:                 $gray-dark !default;
$pre-border-color:          $gray-light !default;
$pre-scrollable-max-height: 340px !default;

// Base styles
// ----------------------------------------------------------------------------

code,
pre {
  background-color: $code-bg;
  color: $code-color;
  font-family: $code-font-family;
}

pre {
  @include margin-bottom(1);
  @include padding(1);
  background: $pre-bg;
  color: $pre-color;
  display: block;
  max-height: $pre-scrollable-max-height;
  white-space: pre-wrap;
  white-space: pre;
  word-break: break-all;
  word-wrap: break-word;
}

pre code {
  font-size: 12px;
}
