// ============================================================================
// Emphasis
// ============================================================================

strong {
  font-weight: $font-weight-bold;
}

em {
  font-style: italic;
}

small {
  font-size: 85%;
}

// Contextual colors
@include text-emphasis-variant('.text-muted', $text-muted-color);
@include text-emphasis-variant('.text-primary', $color-primary);
@include text-emphasis-variant('.text-success', $state-success-text);
@include text-emphasis-variant('.text-info', $state-info-text);
@include text-emphasis-variant('.text-warning', $state-warning-text);
@include text-emphasis-variant('.text-danger', $state-danger-text);
