// ============================================================================
// Main
// ============================================================================

// Main is the base HTML structure all web pages will have.

// Set box-sizing globally to handle padding and border widths
// @source: http://www.paulirish.com/2012/box-sizing-border-box-ftw/
@if $border-box-sizing {
  *,
  *:before,
  *:after {
    @include box-sizing(border-box);
  }
}

// Text selection color
// Remove text-shadow in selection highlight: h5bp.com/i
// These selection rule sets have to be separate.
::selection {
  background: $select-color;
  text-shadow: none;
}

::-moz-selection {
  background: $select-color;
  text-shadow: none;
}

html {
  -webkit-tap-highlight-color: rgba(0,0,0,0); // turn off mobile safari tap highlight
  min-height: 100%;
  overflow-y: scroll;
}

body {
  @if $font-smoothing {
    @include font-smoothing();
  }
  @include font-size($font-size-base);
  @include hyphens(auto);
  @include outer-container;
  background-color: $body-bg;
  color: $text-color;
  font-family: $font-family-base;
  font-size: root-size(14px);
  font-style: normal;
  font-weight: $font-weight-normal;

  // Base font size on small screens & up
  @include media($screen-sm) {
    font-size: root-size($font-size-base);
  }
}
