
// Title:      Scaffolding
// Version:    0.0.1
// Author:     Andy Smith
// Source:     http://github/com/andyra/proto

// Scaffolding if the base HTML structure that all web pages will have.

// Reset the box-sizing
*,
*:before,
*:after {
  @include box-sizing(border-box);
}

// Body reset
html {
  // Set the base HTML font size  in %
  font-size: (strip-unit($em-base) / 16 * 100) + "%";
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  background-color: $body-bg;
  color: $text-color;
  font-family: $font-family-base;
  line-height: $line-height-base;
  -webkit-font-smoothing: antialiased;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
