// ============================================================================
// Main
// ============================================================================

// Main is the base HTML structure all web pages will have.

// Reset the box-sizing
*,
*:before,
*:after {
  @include box-sizing(border-box);
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: 100%;
  font-size: root-size(14px);

  @include media($screen-sm) {
    font-size: root-size($font-size-base);
  }
}

body {
  @include font-smoothing();
  @include hyphens(auto);
  background-color: $body-bg;
  color: $text-color;
  font-family: $font-family-base;
  font-style: normal;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
}
