// ============================================================================
// Type
// ============================================================================

// @todo: http://csswizardry.com/2011/01/html5-and-text-level-semantics/#small-el
// @todo: http://webdesign.tutsplus.com/articles/a-web-designers-typographic-boilerplate--webdesign-15234
// @todo: lists: http://j.eremy.net/align-lists-flush-left/
// @todo: Body line height should change based on how wide the content is.
// @source: http://www.pearsonified.com/typography/

// Paragraphs
// ----------------------------------------------------------------------------

// Variables
$paragraph-indent:          1.5em !default;

// Hyphens
// @source: http://meyerweb.com/eric/thoughts/2012/12/17/where-to-avoid-css-hyphenation

body {
  @include hyphens(auto);
}

abbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
  @include hyphens(none);
}

// Emphasis
// ----------------------------------------------------------------------------

// Variables
$small-print-size:          65% !default;



// Mixins

// Smallcaps
// Depends on the font family; some font-families don't support small caps or
// don't provide them with their web font.
@mixin smallcaps($color, $font-weight) {
  color: $color;
  font-variant: small-caps;
  font-weight: $font-weight;
  text-transform: lowercase;
}

// Abbreviations
// <abbr title="hyper text markup language">HMTL</abbr>

abbr {
  @include smallcaps($small-caps-color, $small-caps-weight);

  &[title]:hover {
    cursor: help;
  }
}
