
// Title:      Image Rendering
// Version:    3.1.8
// Author:     Bourbon
// Source:     https://github.com/thoughtbot/bourbon
// Docs:       http://bourbon.io/docs/#image-rendering

// @source: https://developer.mozilla.org/en-US/docs/Web/CSS/image-rendering
// @browser-support: http://caniuse.com/#feat=image-rendering

@mixin image-rendering ($mode:optimizeQuality) {

  @if ($mode == optimize-contrast) {
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-crisp-edges;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: optimize-contrast;
  }

  @else {
      image-rendering: $mode;
  }
}
