// ============================================================================
// Grid variables
// ============================================================================

// Variables for b=Bourbon Neat grids
// @source: http://neat.bourbon.io/docs/#variables

$border-box-sizing:     true !default;
$column:                golden-ratio(1em, 3) !default;
$default-feature:       min-width !default;
$grid-columns:          12 !default;
$gutter:                golden-ratio(1em, 1) !default;
$max-width:             em(1088) !default;

$visual-grid:           false !default;
$visual-grid-color:     #eee !default;
$visual-grid-index:     back !default;
$visual-grid-opacity:   0.4 !default;
