
// Title:      Grid settings
// Version:    0.0.1
// Author:     Andy Smith
// Source:     http://github/com/andyra/proto

// Variables for Bourbon Neat grids
// @source: http://neat.bourbon.io/docs/#variables

// The size of the outer container
$max-width:                  font-size(1088);

// Column count
$grid-columns:               12;

// Column and gutter sizing
// The units here (px, em, rem, %) should be the same
$column:                     golden-ratio(1%, 3);
$gutter:                     golden-ratio(1%, 1);

// Sets the box-sizing property of all elements to `border-box`. This should
// probably always be set to true
// @source: http://www.paulirish.com/2012/box-sizing-border-box-ftw/
$border-box-sizing:          true;

// Sets the default media feature that media() and new-breakpoint() revert to
// when only a breakpoint value is passed.
$default-feature:            min-width;
