
// @todo: Include an average range of appropriate line heights here

// Font families
$font-family-sans:        $helvetica !default;
$font-family-serif:       $georgia !default;
$font-family-monospace:   $monospace !default;

// Custom fonts
// To create custom fonts, uncomment the font-face mixin below and fill with the
// information specific to your font. Use this font in the font stacks above to
// allow fallbacks in the event the font files don't load in old/weird browsers.
// Add as many custom fonts here as you see fit.
// ex: $font-family-sans: "Droid Sans", $helvetica;

// @include font-face($font-family, $file-path, $weight: normal, $style: normal)

// Weights
$font-weight-thin:        100 !default;
$font-weight-light:       300 !default;
$font-weight-normal:      400 !default;
$font-weight-medium:      500 !default;
$font-weight-bold:        700 !default;
$font-weight-black:       900 !default;

// Colors
$text-color:              $gray-dark !default;
$heading-color:           $gray-dark !default;

// Type Base
$font-family-base:        $font-family-sans !default;








































$type-unit:                 rem !default;     // px, em, rem




// Returns a font size value as either px, em, or rem based on $font-unit
// If the font root size is a value other than 10px, say 24px, write font-size(12, 24)
// ex: font-size(12) => 12px
// ex: font-size(12) => 1.2em
// ex: font-size(12) => 1.2rem
@function font-unit($size, $base: 10) {
  @if ($font-unit == 'px') {
    @return $size#{px};
  } @else {
    @return ($size / $base)#{$font-unit};
  }
}

// Provide a px fallback if 'rem' is used as the $font-unit
@mixin font-size($size) {
  @if $font-unit == rem {
    font-size: $size#{px};
  }
  font-size: font-unit($size);
}

// Provide a px fallback if 'rem' is used as the $font-unit
@mixin font-size($size) {
  @if $font-unit == rem {
    font-size: $size#{px};
  }
  font-size: font-unit($size);
}

// Sizes
$font-unit:               rem !default;     // Valid: px, em, or rem
$font-size-base:          16 !default;      // Normal font size for body text
$type-scale:              1.618 !default;   // Factor to increase each size by
$line-height-base:        1.5 !default;     // Unitless. Based on the font size of the element (16 * 1.5 = 24)
$line-height-computed:    font-unit($font-size-base * $line-height-base) !default;

// Set line height in pixels if $font-unit == 'px'
@if $font-unit == px {
  $line-height-computed: ($font-size-base * $line-height-base)#{px};
}

// $font-size-xxxl: round(modular-scale())
















