
// Font families
$font-family-sans:        $helvetica !default;
$font-family-serif:       $georgia !default;
$font-family-monospace:   $monospace !default;

// Custom fonts
// To create custom fonts, uncomment the font-face mixin below and fill with the
// information specific to your font. Use this font in the font stacks above to
// allow fallbacks in the event the font files don't load in old/weird browsers.
// Add as many custom fonts here as you see fit.
// ex: $font-family-sans: "Droid Sans", $helvetica;

// @include font-face($font-family, $file-path, $weight: normal, $style: normal)

// @todo: Include an average range of appropriate line heights here

// Sizes
$font-unit:               rem !default;     // px, em, or rem
$font-size:               62.5 !default;    // percentage value (16 * 62.5% = 10px)

// Bootstrap sets this as 14px. Really, it's just what size of font
// you want the default to be. So 16px might be good.
// We need the base font size to be unitless, though, so we can make it either
// px, ems, or rems.
//

// $font-size-base, in the mixin, needs to be either 16 or 1.6









































































$font-size-base:          16 * (62.5 / 100) !default; // converts our percentage to a pixel value (16 * 62.5% = 10px)
$type-scale:              1.618 !default;   // factor to increase each size by

// Line heights
$line-height-unit:        percent !default; // px, em, rem, or percent
$line-height-base:        1.65 !default;
$line-height-value:       $font-size-base * $line-height-base;

// Weights
$font-weight-thin:        100 !default;
$font-weight-light:       300 !default;
$font-weight-normal:      400 !default;
$font-weight-medium:      500 !default;
$font-weight-bold:        700 !default;
$font-weight-black:       900 !default;

// Colors
$text-color:              $gray-dark !default;
$heading-color:           $gray-dark !default;

// Type Base
// ----------------------------------------------------------------------------

$font-family-base:        $font-family-sans !default;
$font-size-base:          'something here';
