// ============================================================================
// Typography variables
// ============================================================================

// Families
$font-family-sans:        $helvetica !default;
$font-family-serif:       $georgia !default;
$font-family-monospace:   $monospace !default;
$font-family-base:        $font-family-sans !default;

// Sizes
$font-size-base:          16px !default;
$font-scale-ratio:        1.4;

$font-size-lg:            round(($font-size-base * 1.25)) !default;
$font-size-sm:            round(($font-size-base * 0.85)) !default;

// Line-heights
//
// Line heights should be unitless. We will also use the line-height multiple
// to set a computed value to use for margins, padding, etc.
// @source: http://meyerweb.com/eric/thoughts/2006/02/08/unitless-line-heights/

$line-height-base:        1.5 !default;
$line-height-computed:    round(($font-size-base * $line-height-base)) !default;

// Weights
$font-weight-thin:        100 !default;
$font-weight-light:       300 !default;
$font-weight-normal:      400 !default;
$font-weight-medium:      500 !default;
$font-weight-bold:        700 !default;
$font-weight-black:       900 !default;

// Color
$text-color:              $gray-dark !default;
