
// Title:         Typography variables
// Author:        Andy Smith
// Source:        http://github/com/andyra/proto
// License:       MIT License
// Last Edited:   26 Feb 2014
// Version:       0.1

$font-size-lg:            round(($font-size-base * 1.25)) !default;
$font-size-sm:            round(($font-size-base * 0.85)) !default;

// Line-heights
//
// Line heights should be unitless. We will also use the line-height multiple
// to set a computed value to use for margins, padding, etc.
// @source: http://meyerweb.com/eric/thoughts/2006/02/08/unitless-line-heights/

$line-height-base:        1.5 !default;
$line-height-computed:    round(($font-size-base * $line-height-base)) !default;
