<header class="docs-header">
<a class="docs-brand" href="/">&lt;plate&gt;</a>
  <ul class="docs-nav-main">
    <li><a href="#">Settings</a></li>
    <li>
      <a href="#">Base</a>
      <ul>
        <li><a href="/base/main">Main</a></li>
        <li><a href="/base/type">Type</a></li>
        <li><a href="/base/buttons">Buttons</a></li>
        <li><a href="/base/forms">Forms</a></li>
      </ul>
    </li>
    <li><a href="#">Components</a></li>
  </ul>
</header>
