// ============================================================================
// Leading
// ============================================================================

// Calculate leading to create a consistent vertical rhythm.
// Returns value in rems.

@function leading($lines: 1, $font-size: $font-size-base, $offset: 0) {
  // Since we might be dealing with different units here (the offset might be
  // in px, for instance), we need to make sure the calculations are all made
  // from the same value.
  $font-size: convert-unit($font-size, px);
  $font-size-base: convert-unit($font-size-base, px);
  $leading: convert-unit($leading, px);

  @if $offset != 0 {
    $offset: convert-unit($offset, px);
  }

  // Calculate the leading – the offset
  $new-leading-px: $font-size-base * ($lines * $leading - $offset) / $font-size;

  // Convert to rems
  @return convert-unit($new-leading-px, rem);
}
