---
title: Plate
---

<h1>Colors</h1>

<p>Colors are split into two modes: the color palette and color abstractions.</p>

<ul class="docs-pallete docs-pallete-grayscale">
  <li class="docs-swatch">
    <div class="docs-color docs-color-black"></div>
    <div class="docs-color-name">$black</div>
  </li>
  <li class="docs-swatch">
    <div class="docs-color docs-color-gray-darker"></div>
    <div class="docs-color-name">$gray-darker</div>
  </li>
  <li class="docs-swatch">
    <div class="docs-color docs-color-gray-dark"></div>
    <div class="docs-color-name">$gray-dark</div>
  </li>
  <li class="docs-swatch">
    <div class="docs-color docs-color-gray"></div>
    <div class="docs-color-name">$gray</div>
  </li>
  <li class="docs-swatch">
    <div class="docs-color docs-color-gray-light"></div>
    <div class="docs-color-name">$gray-light</div>
  </li>
  <li class="docs-swatch">
    <div class="docs-color docs-color-gray-lighter"></div>
    <div class="docs-color-name">$gray-lighter</div>
  </li>
</ul>

<ul class="docs-pallete docs-pallete-colors">
  <li class="docs-swatch">
    <div class="docs-color docs-color-red"></div>
    <div class="docs-color-name">$red</div>
  </li>
  <li class="docs-swatch">
    <div class="docs-color docs-color-orange"></div>
    <div class="docs-color-name">$orange</div>
  </li>
  <li class="docs-swatch">
    <div class="docs-color docs-color-yellow"></div>
    <div class="docs-color-name">$yellow</div>
  </li>
  <li class="docs-swatch">
    <div class="docs-color docs-color-green"></div>
    <div class="docs-color-name">$green</div>
  </li>
  <li class="docs-swatch">
    <div class="docs-color docs-color-blue"></div>
    <div class="docs-color-name">$blue</div>
  </li>
  <li class="docs-swatch">
    <div class="docs-color docs-color-violet"></div>
    <div class="docs-color-name">$violet</div>
  </li>
</ul>

<ul>
