// ============================================================================
// Fancies
// ============================================================================

// Fancy bits and bobs for your type
// https://www.typotheque.com/articles/opentype_features_in_web_browsers_-_tests

// The OpenType feature tag value is always a string of 4 ASCII characters. If
// it has more or less characters, the whole property is invalid. The value is
// an positive integer. The two keywords on and off are synonyms for 1 and 0
// respectively. If no value is set, the default is 1. For non-Boolean
// OpenType features (e.g. stylistic alternates), the value implies a
// particular glyph to be selected; for Boolean values, it is a switch.
// @source: https://developer.mozilla.org/en-US/docs/Web/CSS/font-feature-settings

// Numbers
// ----------------------------------------------------------------------------

// Enable automatic fractions
%fractions {
  font-feature-settings: "frac";
}

// Consistent height numbers
%lining-numerals {
  font-feature-settings: "lnum", "kern";
}

// Ascending and descending numbers
%oldstyle-numerals {
  font-feature-settings: "onum", "kern";
}

// Enable tabular (monospaced) figures
%tabular {
  font-feature-settings: "tnum";
}

// Caps
// ----------------------------------------------------------------------------

// Small caps using alternate glyphs
%small-caps {
  font-feature-settings: "smcp", "kern";
  letter-spacing: $caps-spacing;
}

// Convert both upper and lowercase to small caps (affects punctuation also)
%small-caps-all {
  font-feature-settings: "c2sc", "smcp";
  letter-spacing: $caps-spacing;
}

// All uppercase letters
%upper {
  letter-spacing: $caps-spacing;
  text-transform: uppercase;
}

// Make the first letter of a paragraph grand
.drop-cap {
  &:first-letter {
    color: inherit;
    float: left;
    font-family: $font-family-base;
    font-size: 3em;
    font-weight: $font-weight-bold;
    line-height: 1;
    margin: 0 .125em 0 0;
    padding: 0;
    text-indent: 0;
  }
}

// Combats our sibling paragraphs syling and indentation
// as not to ruin our beautiful drop caps.
p + .drop-cap {
  margin-top: 0;
  text-indent: 0;
}

// Fancy bits
// ----------------------------------------------------------------------------

// Enable historical forms
%historical {
  font-feature-settings: "hist";
}

%hyphens {
  hyphens: none;
}

// Enable ligatures
%ligatures {
  font-feature-settings: "liga";
}

// Disable common ligatures, usually on by default
%no-ligatures {
  font-feature-settings: "liga" off;
}

// Use the second available swash character
%swash {
  font-feature-settings: "swsh";
}

// Punctuation
// ----------------------------------------------------------------------------

// Disable hyphens on certain elements
// @source: http://meyerweb.com/eric/thoughts/2012/12/17/where-to-avoid-css-hyphenation
abbr, acronym, blockquote,
code, dir, kbd,
listing, plaintext, q,
samp, tt, var, xmp {
  hyphens: none;
}
