// ============================================================================
// Paragraphs
// ============================================================================

// OpenType ligatures and oldstyle figures enabled if available.
p {
  font-feature-settings: "kern", "onum", "liga";
  margin-bottom: $leading;
  word-break: break-all;
  word-break: break-word; // Non standard for webkit

  // Indent subsequent paragraphs
  @if $indented-paragraphs {
    + p {
      margin-top: $leading * -1;
      text-indent: 2em;
    }
  }
}

/*doc
---
title: Options
name: paragraph-options
parent: paragraphs
---

*/

// Larger text for leading paragraphs
.lead {
  @include font-size($font-size-md);
}

.text-inline {
  display: inline-block;
}
