// ============================================================================
// Blockquotes
// ============================================================================

// A good resource on when/how to use <blockquote> and <cite>:
// @source: http://html5doctor.com/cite-and-blockquote-reloaded/

blockquote {
  @include font-size($font-size-md);
  border-left: $border-width-lg solid;
  padding-left: 2rem;
  quotes: "\201C" "\201D";

  // Remove margin on last <p>
  p:last-of-type { margin-bottom: 0; }
}

// Inline quotes
q {
  quotes: "\201C" "\201D" "\2018" "\2019";

  &:before { content: open-quote; }
  &:after  { content: close-quote; }
}

// Citations
cite {
  @include font-size($font-size-base);
  font-style: normal;
  display: block;
  text-indent: 0;

  &:before {
    content: "\2014 \00A0"; // mdash + nbsp
  }
}
