
// Title:      Type settings
// Version:    0.0.1
// Author:     Andy Smith
// Source:     http://github/com/andyra/proto

// @todo: lists: http://j.eremy.net/align-lists-flush-left/
// @todo: Body line height should change based on how wide the content is.
// @source: http://www.pearsonified.com/typography/

// Font families
// ----------------------------------------------------------------------------

$font-family-base:     $helvetica !default;
$font-family-heading:  $helvetica !default;
$font-family-code:     $monospace !default;

// Custom fonts
//
// To create custom fonts, uncomment the `font-face` mixin below and fill with
// the information specific to your font. You can then add your custom font
// family name in front of the font stacks above to allow for fallbacks in the
// event the font files don't load in old browsers.

// @include font-face($font-family, $file-path, $weight: normal, $style: normal)

// Type scale
// ----------------------------------------------------------------------------

// $em-base: the document's base font size in pixels.
// $font-size-base: the default size for body text (paragraphs, lists, etc.).
// The unit you set here (px, em, rem) will be your default type unit

$em-base:         16px;
$font-size-base:  1em; // px, em, or rem

$font-size-xl:    modular-scale($font-size-base,  3, $perfect-fourth) !default;
$font-size-lg:    modular-scale($font-size-base,  2, $perfect-fourth) !default;
$font-size-md:    modular-scale($font-size-base,  1, $perfect-fourth) !default;
$font-size-base:  modular-scale($font-size-base,  0, $perfect-fourth) !default;
$font-size-sm:    modular-scale($font-size-base, -1, $perfect-fourth) !default;
$font-size-xs:    modular-scale($font-size-base, -2, $perfect-fourth) !default;

// Line height
// ----------------------------------------------------------------------------

$line-height-base:      $golden !default; // Unitless number
$line-height-computed:  font-unit($font-size-base * $line-height-base) !default;

// Weights
// ----------------------------------------------------------------------------

$font-weight-base:    400 !default;

$font-weight-thin:    100 !default;
$font-weight-light:   300 !default;
$font-weight-normal:  400 !default;
$font-weight-medium:  500 !default;
$font-weight-bold:    700 !default;
$font-weight-black:   900 !default;

// Colors
// ----------------------------------------------------------------------------

$text-color:     $gray-dark !default;
$heading-color:  $gray-dark !default;
