// ============================================================================
// Type Settings
// ============================================================================

// Define all font sizes in pixels; mixins will convert measurements to the
// unit set in $font-unit.

// Base
$font-unit:           rem  !default;
$font-scale-ratio:    $perfect-fourth !default; // used for font-scale()

// Sizes
$font-size-base:      18px !default;
$font-size-lg:        font-scale(1) !default;
$font-size-sm:        font-scale(-1) !default;

$font-size-h1:        font-scale(5) !default;
$font-size-h2:        font-scale(4) !default;
$font-size-h3:        font-scale(3) !default;
$font-size-h4:        font-scale(2) !default;
$font-size-h5:        font-scale(1) !default;
$font-size-h6:        font-scale(0) !default;

// Line height
$line-height-ratio:   1.618;
$line-height-base:    $font-size-base * $line-height-ratio !default;
$round-to-half-line:  true; // used for the vertical baseline grid

// Families
$sans:                $helvetica !default;
$serif:               $georgia !default;
$mono:                $monospace !default;
$font-family-base:    $sans !default;

// Weights
$font-weight-thin:    100 !default;
$font-weight-light:   300 !default;
$font-weight-normal:  400 !default;
$font-weight-medium:  500 !default;
$font-weight-bold:    700 !default;
$font-weight-black:   900 !default;

// Colors
$text-color:          $gray-dark !default;
$text-muted-color:    $gray-light !default;

// Options
$px-fallback:         true !default; // active only if using rems
$font-smoothing:      true !default;
