// ============================================================================
// Visual Baseline
// ============================================================================

// Displays a visual baseline grid to help debug.
// @source: http://www.soholaunch.com/Blog.php?id=62

@if $visual-baseline == true {
  body {
    @if $visual-baseline-image {
      background: url($visual-baseline-image) repeat top left;
    }
    @else {
      @include linear-gradient(top, rgba(0,0,0,0) 95%, $visual-baseline-color 100%);
      background-size: 100% $line-height-base;
      background-position: 0 0; // Use to offset and center your grid
    }
  }
}
