// ============================================================================
// Fancies
// ============================================================================

// Fancy bits and bobs for your type
// @browser-support: http://caniuse.com/font-feature
// @source: http://blog.fontdeck.com/post/15777165734/opentype-1

// Numbers
// ----------------------------------------------------------------------------

// Enable automatic fractions
%fractions {
  @include font-feature-settings(frac);
}

// Consistent height numbers
%lining-numerals {
  @include font-feature-settings(lnum kern);
}

// Ascending and descending numbers
%oldstyle-numerals {
  @include font-feature-settings(onum kern);
}

// Enable tabular (monospaced) figures
%tabular {
  @include font-feature-settings(tnum);
}

// Caps
// ----------------------------------------------------------------------------

// Make the first letter of a paragraph grand
.drop-cap {
  &:first-letter {
    color: inherit;
    float: left;
    font-family: $font-family-base;
    font-size: 3em;
    font-weight: $font-weight-bold;
    line-height: 1;
    margin: 0 .125em 0 0;
    padding: 0;
    text-indent: 0;
  }
}

// Combats our sibling paragraphs syling and indentation
// as not to ruin our beautiful drop caps.
p + .drop-cap {
  margin-top: 0;
  text-indent: 0;
}

// Real small caps
%small-caps {
  @include font-feature-settings(smcp kern);
  letter-spacing: $caps-spacing;
}

// Convert both upper and lowercase to small caps (affects punctuation also)
%small-caps-all {
  @include font-feature-settings(c2sc, smcp);
  letter-spacing: $caps-spacing;
}

// All uppercase letters
%upper {
  letter-spacing: $caps-spacing;
  text-transform: uppercase;
}

// Fancy bits
// ----------------------------------------------------------------------------

// Enable historical forms
%historical {
  @include font-feature-settings(hist);
}

%hyphens {
  @include hyphens(none);
}

// Enable ligatures
%ligatures {
  @include font-feature-settings(liga);
}

// Disable common ligatures, usually on by default
%no-ligatures {
  @include font-feature-settings(liga, 0);
}

// Use the second available swash character
%swash {
  @include font-feature-settings(swsh);
}

// Punctuation
// ----------------------------------------------------------------------------

// Hyphens
// @source: http://meyerweb.com/eric/thoughts/2012/12/17/where-to-avoid-css-hyphenation
abbr, acronym, blockquote,
code, dir, kbd,
listing, plaintext, q,
samp, tt, var, xmp {
  @include hyphens(none);
}
