// ============================================================================
// Paragraphs
// ============================================================================

// OpenType ligatures and oldstyle figures enabled if available.
p {
  @include font-feature-settings(kern onum liga);
  @include margin(0 0 1);
  word-break: break-all;
  word-break: break-word; // Non standard for webkit

  // Indent subsequent paragraphs
  @if $indented-paragraphs {
    + p {
      @include margin-top(-1);
      text-indent: 2em;
    }
  }
}

// Larger text for leading paragraphs
.lead {
  @include font-size($font-size-lg);
}
