// ============================================================================
// Type Variables
// ============================================================================

// Code
$code-font-family:          $mono;
$code-color:                #c7254e !default;
$code-bg:                   #f9f2f4 !default;

$kbd-color:                 white !default;
$kbd-bg:                    $gray !default;
$pre-bg:                    $gray-lighter !default;

$pre-color:                 $gray-dark !default;
$pre-border-color:          $gray-light !default;
$pre-scrollable-max-height: 340px !default;

// Lists
$dl-offset-horizontal:      12em;
