// ============================================================================
// Rem with px Fallback
// ============================================================================

// Adds a pixel fallback for any rem values, leaves other values as-is.
// Overrides the Bourbon rem mixing because I like this one better.

@mixin rem($property, $sizes, $base: $font-size-base) {
  $legacy-values: ();
  $modern-values: $sizes;

  @each $size in $sizes {
    // If the unit is rem, convert to px and drop in the legacy array
    @if unit($size) == "rem" {
      $legacy-values: append($legacy-values, strip-unit($size) * $font-size-base);
    }
    // If the unit is legacy safe, drop it in the legacy array as-is
    @else {
      $legacy-values: append($legacy-values, $size);
    }
  }

  #{$property}: $legacy-values;
  #{$property}: $modern-values;
}
