// ============================================================================
// Plate Import
// ============================================================================

$gray-dark:         #232830;
$gray:              #65737E;

$font-size-root:    20px;
$font-family-base:  "franklin-gothic-urw";

@import "../../../../../assets/stylesheets/src/styles";
