// ============================================================================
// Documentation Styles
// ============================================================================

$docs-gray-dark:         #232830;
$docs-gray:              #65737E;
$docs-gray-light:        lighten(#000, 60%);
$docs-gray-lighter:      #EFF1F5;
$docs-gray-lightest:     lighten(#EFF1F5, 3%);

// $font-size-root:    20px;
// $font-family-base:  "franklin-gothic-urw";

@import "plate";

// Docs variables
// ----------------------------------------------------------------------------

$docs-header-width:          u(200px, rem);
$docs-active-border-width:    4px;

// Main
// ----------------------------------------------------------------------------

html {
  font-size: u(20px, "%");
}

body {
  font-family: "franklin-gothic-urw", $helvetica;
  padding-right: 2rem;
}

// Header
// ----------------------------------------------------------------------------

.docs-header {
  background: $docs-gray-dark;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $docs-header-width;
}

.docs-brand {
  border-bottom: 2px solid lighten($docs-gray-dark, 15%);
  display: block;
  font-size: $font-size-lg;
  padding: .5rem 1rem;
  color: white;

  &:hover {
    text-decoration: none;
  }
}

.docs-nav-main {
  padding: 0;

  a {
    border-left: $docs-active-border-width solid transparent;
    color: $docs-gray;
    padding: 0 1rem;

    display: block;

    &:hover {
      border-left-color: $link-color;
      color: white;
      text-decoration: none;
    }
  }

  ul {
    margin-left: $docs-active-border-width;
    padding-left: 1rem;
  }
}

// Content
// ----------------------------------------------------------------------------

main {
  margin-left: $docs-header-width + 2rem;
  max-width: u(800px, rem);

  > h1:first-child {
    margin-top: 0;
    font-size: $font-size-lg;
    padding: .5rem;
    border-bottom: 2px solid $docs-gray-light;
  }

  > p {
    max-width: u(600px, rem);
  }
}

.docs-example,
.docs-markup {
  position: relative;

  &:before {
    border-radius: 0 0 $border-radius-base $border-radius-base;
    opacity: .35;
    font-family: $font-family-base;
    content: "";
    position: absolute;
    font-size: $font-size-sm;
    right: 1rem;
    top: 0;
    color: white;
    background: $docs-gray;
    padding: $padding-vert-xs $padding-horiz-sm;
  }
}

.docs-example {
  background: white;
  border-radius: $border-radius-base $border-radius-base 0 0;
  border: 1px solid $docs-gray-lighter;
  font-family: $font-family-base;
  padding: $padding-vert-lg $padding-horiz-lg;

  &:before {
    content: "Example";
  }
}

.docs-markup {
  background: $docs-gray-lighter;
  border-radius: 0 0 $border-radius-base $border-radius-base;

  &:before {
    content: "Markup";
  }
}

// Content
// ----------------------------------------------------------------------------

// Settings
// ----------------------------------------------------------------------------


.docs-pallete {
  @include row;
  @extend .list-plain;
  margin-top: $leading;
}

.docs-swatch {
  @include columns(2);
  text-align: center;
}

.docs-color {
  border-radius: $border-radius-base $border-radius-base 0 0;
  height: u(120px, rem);
}

.docs-color-name {
  background: $gray-lighter;
  border-radius: 0 0 $border-radius-base $border-radius-base;
  border-top: 1px solid rgba(black, .05);
  color: gray;
  font-family: $mono;
  font-size: $font-size-xs;
  line-height: 3;
}

.docs-color-black { background: $black; }
.docs-color-gray-darker   { background: $gray-darker; }
.docs-color-gray-dark     { background: $gray-dark; }
.docs-color-gray          { background: $gray; }
.docs-color-gray-light    { background: $gray-light; }
.docs-color-gray-lighter  { background: $gray-lighter; }

.docs-color-red           { background: $red; }
.docs-color-orange        { background: $orange; }
.docs-color-yellow        { background: $yellow; }
.docs-color-green         { background: $green; }
.docs-color-blue          { background: $blue; }
.docs-color-violet        { background: $violet; }

.docs-pallete-states {
  font-size: $font-size-base;
  line-height: strip-unit(u(120px, rem));
}

.docs-color-default {
  background: $color-default-bg;
  color: $color-default;
  border: 2px solid $color-default-border;
}

.docs-color-primary {
  background: $color-primary-bg;
  color: $color-primary;
  border: 2px solid $color-primary-border;
}

.docs-color-success {
  background: $color-success-bg;
  color: $color-success;
  border: 2px solid $color-success-border;
}

.docs-color-info {
  background: $color-info-bg;
  color: $color-info;
  border: 2px solid $color-info-border;
}

.docs-color-warning {
  background: $color-warning-bg;
  color: $color-warning;
  border: 2px solid $color-warning-border;
}

.docs-color-danger {
  background: $color-danger-bg;
  color: $color-danger;
  border: 2px solid $color-danger-border;
}
