// ============================================================================
// Colors
// ============================================================================

// It's nice to use HSL in your CSS to make it easy to tweak the colors as you
// work without using an external graphics editing program.
// @tool: http://rgb.to/

// Grays
$black:                 hsl(0, 0%, 10%) !default;
$gray-darker:           hsl(0, 0%, 20%) !default;
$gray-dark:             hsl(0, 0%, 40%) !default;
$gray:                  hsl(0, 0%, 70%) !default;
$gray-light:            hsl(0, 0%, 90%) !default;
$gray-lighter:          hsl(0, 0%, 95%) !default;

// Colors
$red:                   hsl(  2, 67%, 54%) !default;
$orange:                hsl( 23, 93%, 62%) !default;
$yellow:                hsl( 42, 90%, 64%) !default;
$green:                 hsl(158, 49%, 41%) !default;
$blue:                  hsl(205, 83%, 42%) !default;
$violet:                hsl(239, 35%, 56%) !default;

// State colors
$color-primary:         $blue !default;
$color-success:         $green !default;
$color-info:            $blue !default;
$color-warning:         $orange !default;
$color-danger:          $red !default;

$color-success-text:    $color-success !default;
$color-success-bg:      lighten($color-success-text, 20%) !default;
$color-success-border:  darken($color-success-bg, 5%) !default;

$color-info-text:       $color-info !default;
$color-info-bg:         lighten($color-info-text, 20%) !default;
$color-info-border:     darken($color-info-bg, 7%) !default;

$color-warning-text:    $color-warning !default;
$color-warning-bg:      lighten($color-warning-text, 20%) !default;
$color-warning-border:  darken($color-warning-bg, 5%) !default;

$color-danger-text:     $color-danger !default;
$color-danger-bg:       lighten($color-danger-text, 20%) !default;
$color-danger-border:   darken($color-danger-bg, 5%) !default;
