// ============================================================================
// Colors
// ============================================================================

// Grays
$gray-darker:           lighten(#000, 12%) !default;
$gray-dark:             lighten(#000, 20%) !default;
$gray:                  lighten(#000, 32%) !default;
$gray-light:            lighten(#000, 60%) !default;
$gray-lighter:          lighten(#000, 95%) !default;

// Colors
$red:                   #DA3E34 !default;
$orange:                #FA893A !default;
$yellow:                #F7C442 !default;
$green:                 #309E76 !default;
$blue:                  #0089C8 !default;
$violet:                #6867B9 !default;

// Abstractions
$color-primary:         $blue !default;

$state-success:         $green !default;
$state-success-text:    $state-success !default;
$state-success-bg:      lighten($state-success-text, 20%) !default;
$state-success-border:  darken($state-success-bg, 5%) !default;

$state-info:            $blue !default;
$state-info-text:       $state-info !default;
$state-info-bg:         lighten($state-info-text, 20%) !default;
$state-info-border:     darken($state-info-bg, 7%) !default;

$state-warning:         $orange !default;
$state-warning-text:    $state-warning !default;
$state-warning-bg:      lighten($state-warning-text, 20%) !default;
$state-warning-border:  darken($state-warning-bg, 5%) !default;

$state-danger:          $red !default;
$state-danger-text:     $state-danger !default;
$state-danger-bg:       lighten($state-danger-text, 20%) !default;
$state-danger-border:   darken($state-danger-bg, 5%) !default;
