// ============================================================================
// Settings for main HTML and body elements
// ============================================================================

$body-bg:               white;
$border-box-sizing:     true;
$select-color:          $color-primary;
$include-print-styles:  false;
