// ============================================================================
// Global Styles
// ============================================================================

// Generic style values that can be reused across your entire project. If a
// variable applies only to a specific component, it should be placed at the top
// of the component's .scss file.

// Animation
$animations:                true !default;
$timing-base:               .1s !default;
$easing-base:               ease-in-out !default;

// Background
$body-bg:                   white !default;

// Border-radius
$border-radius-base:        2px !default;
$border-radius-lg:          4px !default;
$border-radius-sm:          1px !default;

// Borders
$border-color-base:         $gray-lighter;
$border-width-base:          2px !default;
$border-width-sm:            1px !default;
$border-width-lg:            4px !default;

// Component colors
$component-color-active:    white !default;
$component-bg-active:       $color-primary !default;

// Padding
$padding-horiz-base:       12px !default;
$padding-horiz-lg:         16px !default;
$padding-horiz-sm:         10px !default;
$padding-horiz-xs:          5px !default;

$padding-vert-base:         6px !default;
$padding-vert-lg:          10px !default;
$padding-vert-sm:           5px !default;
$padding-vert-xs:           1px !default;
