// ============================================================================
// Type Settings
// ============================================================================

// Families
$sans:                  $helvetica !default;
$serif:                 $georgia !default;
$mono:                  $monospace !default;
$font-family-base:      $sans !default;

// Sizes
$font-size-root:        16px !default;
$font-size-base:        1rem !default;

// Sizing with a modular scale
// @source: http://modularscale.com/
$type-scale-ratio:      $perfect-fourth !default;
$type-scale-strands:    $font-size-base;

$font-size-xxl:         type-scale(4) !default;
$font-size-xl:          type-scale(3) !default;
$font-size-lg:          type-scale(2) !default;
$font-size-md:          type-scale(1) !default;
$font-size-sm:          type-scale(-1) !default;
$font-size-xs:          type-scale(-2) !default;

// Line height
$line-height-base:      1.618 !default;
$line-height-lg:        1.33 !default;
$line-height-sm:        1.5 !default;
$leading:               $font-size-base * $line-height-base !default;

// Colors
$text-color:            $gray-dark !default;
$text-muted-color:      $gray-light !default;

$link-color:            $color-primary !default;
$link-hover-color:      darken($link-color, 15%) !default;

// Weights
$font-weight-thin:      100 !default;
$font-weight-light:     300 !default;
$font-weight-normal:    400 !default;
$font-weight-medium:    500 !default;
$font-weight-bold:      700 !default;
$font-weight-black:     900 !default;

// Type options
$indented-paragraphs:   false !default;
$caps-spacing:          0.1em;

/*doc
---
title: Buttons
name: button
category: Base
---

Button styles can be applied to any element. Typically you'll want
to use either a `<button>` or an `<a>` element:

```html_example
  <button class="btn btnDefault">Click</button>
  <a class="btn btnDefault" href="trulia.com">Trulia!</a>
```

If your button is actually a link to another page, please use the
`<a>` element, while if your button performs an action, such as
submitting a form or triggering some javascript event, then use a
`<button>` element.

*/
