---
title: Plate
---

<h1>Colors</h1>

<p>The base color pallete is what all the other colors in the app are built
from. They're set using the handy `hsl()` format, which allows you to tweak
the colors as you work without using an external graphics editing program.</p>

<ul class="docs-pallete">
  <li class="docs-swatch">
    <div class="docs-color docs-color-black"></div>
    <div class="docs-color-name">$black</div>
  </li>
  <li class="docs-swatch">
    <div class="docs-color docs-color-gray-darker"></div>
    <div class="docs-color-name">$gray-darker</div>
  </li>
  <li class="docs-swatch">
    <div class="docs-color docs-color-gray-dark"></div>
    <div class="docs-color-name">$gray-dark</div>
  </li>
  <li class="docs-swatch">
    <div class="docs-color docs-color-gray"></div>
    <div class="docs-color-name">$gray</div>
  </li>
  <li class="docs-swatch">
    <div class="docs-color docs-color-gray-light"></div>
    <div class="docs-color-name">$gray-light</div>
  </li>
  <li class="docs-swatch">
    <div class="docs-color docs-color-gray-lighter"></div>
    <div class="docs-color-name">$gray-lighter</div>
  </li>
</ul>

<ul class="docs-pallete">
  <li class="docs-swatch">
    <div class="docs-color docs-color-red"></div>
    <div class="docs-color-name">$red</div>
  </li>
  <li class="docs-swatch">
    <div class="docs-color docs-color-orange"></div>
    <div class="docs-color-name">$orange</div>
  </li>
  <li class="docs-swatch">
    <div class="docs-color docs-color-yellow"></div>
    <div class="docs-color-name">$yellow</div>
  </li>
  <li class="docs-swatch">
    <div class="docs-color docs-color-green"></div>
    <div class="docs-color-name">$green</div>
  </li>
  <li class="docs-swatch">
    <div class="docs-color docs-color-blue"></div>
    <div class="docs-color-name">$blue</div>
  </li>
  <li class="docs-swatch">
    <div class="docs-color docs-color-violet"></div>
    <div class="docs-color-name">$violet</div>
  </li>
</ul>

<ul class="docs-pallete docs-pallete-states">
  <li class="docs-swatch">
    <div class="docs-color docs-color-info">info</div>
    <div class="docs-color-name">info colors</div>
  </li>
  <li class="docs-swatch">
    <div class="docs-color docs-color-success">success</div>
    <div class="docs-color-name">soccess colors</div>
  </li>
  <li class="docs-swatch">
    <div class="docs-color docs-color-warning">warning</div>
    <div class="docs-color-name">warning colors</div>
  </li>
  <li class="docs-swatch">
    <div class="docs-color docs-color-danger">danger</div>
    <div class="docs-color-name">danger-colors</div>
  </li>
</ul>
