// ============================================================================
// Buttons
// ============================================================================

// Variables
// ----------------------------------------------------------------------------

$button-font-weight:               $font-weight-normal !default;
$button-border-width:              0;

$button-default-color:             $gray-dark !default;
$button-default-bg:                $gray-lighter !default;
$button-default-border:            $gray-light !default;

$button-primary-color:             white !default;
$button-primary-bg:                $color-primary !default;
$button-primary-border:            darken($button-primary-bg, 5%) !default;

$button-success-color:             white !default;
$button-success-bg:                $color-success !default;
$button-success-border:            darken($button-success-bg, 5%) !default;

$button-info-color:                white !default;
$button-info-bg:                   $color-info !default;
$button-info-border:               darken($button-info-bg, 5%) !default;

$button-warning-color:             white !default;
$button-warning-bg:                $color-warning !default;
$button-warning-border:            darken($button-warning-bg, 5%) !default;

$button-danger-color:              white !default;
$button-danger-bg:                 $color-danger !default;
$button-danger-border:             darken($button-danger-bg, 5%) !default;

$button-link-disabled-color:       $gray-light !default;

// Mixins
// ----------------------------------------------------------------------------

@mixin button-size($padding-vert, $padding-horiz, $font-size, $line-height, $border-radius) {
  border-radius: $border-radius;
  font-size: $font-size;
  line-height: $line-height;
  padding: $padding-vert $padding-horiz;
}

@mixin button-variant($color, $background, $border) {
  background-color: $background;
  border-color: $border;
  color: $color;

  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: darken($background, 8%);
    background-image: none;
    border-color: darken($border, 12%);
    color: $color;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $background;
      border-color: $border;
    }
  }
}

// Base styles
// ----------------------------------------------------------------------------

.button {
  @include button-size($padding-vert-base, $padding-horiz-base, $font-size-base, $line-height, $border-radius-base);
  @include user-select(none);
  background-image: none;
  border: $button-border-width solid transparent;
  cursor: pointer;
  display: inline-block;
  font-weight: $button-font-weight;
  margin-bottom: 0; // For input.button
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

  &,
  &:active,
  &.active {
    &:focus {
      @include tab-focus();
    }
  }

  &:hover,
  &:focus {
    color: $button-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    background-image: none;
    outline: 0;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    opacity: .65;
    pointer-events: none; // Future-proof disabling of clicks
  }
}

// Alternate buttons
// ----------------------------------------------------------------------------

.button-default  { @include button-variant($button-default-color, $button-default-bg, $button-default-border); }
.button-primary  { @include button-variant($button-primary-color, $button-primary-bg, $button-primary-border); }
.button-success  { @include button-variant($button-success-color, $button-success-bg, $button-success-border); }
.button-info     { @include button-variant($button-info-color,    $button-info-bg,    $button-info-border); }
.button-warning  { @include button-variant($button-warning-color, $button-warning-bg, $button-warning-border); }
.button-danger   { @include button-variant($button-danger-color,  $button-danger-bg,  $button-danger-border); }


// Button Sizes
// ----------------------------------------------------------------------------

// line-height: ensure even-numbered height of button next to large input

.button-lg { @include button-size($padding-vert-lg, $padding-horiz-lg, $font-size-lg, $line-height-lg, $border-radius-lg); }
.button-sm { @include button-size($padding-vert-sm, $padding-horiz-sm, $font-size-sm, $line-height-sm, $border-radius-sm); }
.button-xs { @include button-size($padding-vert-xs, $padding-horiz-xs, $font-size-sm, $line-height-sm, $border-radius-sm); }

// Block button
// ----------------------------------------------------------------------------

.button-block {
  display: block;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

// Vertically space out multiple block buttons
.button-block + .button-block {
  margin-top: $leading / 2;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.button-block {
    width: 100%;
  }
}
