// ============================================================================
// Images
// ============================================================================

// Base styles
// ----------------------------------------------------------------------------

img {
  vertical-align: middle;
}

figure {
  margin: 0;
}

// Variations
// ----------------------------------------------------------------------------

// Ensure images don't scale beyond their parents
.img-responsive {
  @include img-responsive();
}

.img-rounded {
  border-radius: $border-radius-lg;
}

.img-circle {
  border-radius: 50%;
}

.img-thumbnail {
  @include transition(all .2s ease-in-out);
  background-color: $body-bg;
  border-radius: $border-radius-base;
  border: 1px solid $border-color-base;
  line-height: $line-height-base;
  padding: 4px;

  // Keep them at most 100% wide
  @include img-responsive(inline-block);
}
