// ============================================================================
// Lists
// ============================================================================

// @todo: lists: http://j.eremy.net/align-lists-flush-left/

// Variables
// ----------------------------------------------------------------------------

$dl-offset-horizontal:      12em;

// Ordered and Unordered lists
// ----------------------------------------------------------------------------

ul, ol {
  @include margin(0 0 1);

  ul, ol {
    margin-bottom: 0;
  }
}

// Variations
// ----------------------------------------------------------------------------

// Plain lists only remove default browser padding and list-style
.list-plain {
  list-style: none;
  padding-left: 0;
}

.list-inline {
  @extend .list-plain;

  li {
    display: inline-block;
  }
}

.list-inline-center {
  @extend .list-inline;
  text-align: center;
}

// Left align unordered lists
// @source: http://j.eremy.net/align-lists-flush-left/
.ul-pretty {
  display: table;
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  li {
    display: table-row;

    &:before {
      content: "•";
      display: table-cell;
      padding-right: 0.4em;
    }
  }
}

.ol-pretty {
  display: table;
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  li {
    counter-increment: table-ol;
    display: table-row;

    &:before {
      content: counter(table-ol) ".";
      display: table-cell;
      padding-right: 0.4em;
      text-align: right;
    }
  }
}

// Definition Lists
// ----------------------------------------------------------------------------

dl {
  @include margin(0 0 1);
}

dt, dd {
  line-height: $line-height;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0; // Undo browser default
}

// Aligned definition lists default to being stacked without any of the below
// styles applied until the main grid breakpoint is reached.
@include media($grid-break) {

  .dl-horizontal {
    dt {
      @include text-overflow();
      clear: left;
      float: left;
      text-align: right;
      width: $dl-offset-horizontal - 1em;
    }

    dd {
      @include clearfix(); // Clear the floated `dt` if an empty `dd` is present
      margin-left: $dl-offset-horizontal;
    }
  }

}
